.container {
  background-color: #273746;
  padding: 10px;
}
.commentContainer {
  background-color: #F5F5DC;
  padding: 10px;
  margin: 10px;
}
.commentText {
  color: #273746;
  font-style: italic;
  padding: 5px;
  cursor: pointer;
}
.commentText:hover {
  background-color: #FFFFFF;
  color: #17202A;
}
.textInput {
  border: 1px solid #BBBBBB;
  width: 100%;
  height: 50px;
  color: #273746;
}
.editButton {
  border: 1px solid #0000FF;
  background-color: #4C92F2;
  color: #FFFFFF;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  width: 100px;
  margin-right: 25px;
  cursor: pointer;
}
.editButton:hover {
  background-color: #006CFF;
}
.removeButton {
  border: 1px solid #FF0000;
  background-color: #FB6464;
  color: #FFFFFF;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  width: 100px;
  margin-left: 25px;
  cursor: pointer;
}
.removeButton:hover {
  background-color: #FE3232;
}
.saveButton {
  border: 1px solid #32A732;
  background-color: #7BC17B;
  color: #FFFFFF;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}
.saveButton:hover {
  background-color: #32B832;
}
